/***** MAIN *****/

	body {
		font-family: 'Lato', sans-serif;
		font-size: 16px;
	}

	.body-container {
		background-color: #f4f4f4;
		max-width: 1440px;
		margin: auto;
	}


/***** FOUNDATION OVERRIDES *****/
	
	.row {
		max-width: 1440px;
		padding-top: 75px;
	}


/***** TYPOGRAPHY *****/

	/***** MAIN TYPOGRAPHY *****/

		h1 {
			font-family: 'Lato', sans-serif;
			font-size: 2.375rem;
			color: #515392;
		}

		h2 {
			font-family: 'Lato', sans-serif;
			font-size: 1.875rem;
			color: #515392;
		}

		h3 {
			font-family: 'Lato', sans-serif;
			font-size: 1.625rem;
			color: #62C4B0;
			font-style: italic;
		}

		.deck-text {
			font-family: 'Lato', sans-serif;
			font-size: 1.625rem;
			color: #515392;
			font-style: italic;
		}

		p {
			font-family: 'Lato', sans-serif;
			font-size: 1.25rem;
			color: #4a4a4a;
			line-height: 1.8125rem;
		}

		.section-heading {
			text-align: center;
		}

	/***** NAVIGATION TYPOGRAPHY *****/

		#header li a {
			color: #ffffff;
			text-transform: uppercase;
			font-size: 1.25rem;
		}

		#header li.sign-in a {
			color: #62C4B0;
			text-transform: uppercase;
			font-size: 1.25rem;
		}

		#menu-2 li a {
			color: #515392;
			text-transform: uppercase;
			font-size: 1.25rem;
		}

		li#sign-in a {
			color: #62C4B0;
			font-weight: bold;
			border-left: 1px solid #67699e;
		}

	/***** HERO TYPOGRAPHY *****/

		.hero-title {
			font-family: 'Lato', sans-serif;
			font-size: 3.25rem;
			color: #ffffff;
			text-align: center;
			padding: 8px;
		}

		.hero-subtitle {
			font-family: 'Lato', sans-serif;
			font-size: 2.45rem;
			color: #ffffff;
			text-align: center;
			font-style: italic;
			padding: 8px;
		}

		a.green-btn {
			font-family: 'Lato', sans-serif;
			font-size: 1.25rem;
			background-color: #62C4B0;
			color: #515392;
			font-weight: bold;
			text-transform: uppercase;
			padding: 15px 45px 15px 45px;
			border-radius: 35px;
		}

	/***** PURPLE HERO *****/
		.purple-hero-title {
			font-family: 'Lato', sans-serif;
			font-size: 2.375rem;
			color: #ffffff;
			text-align: center;
		}

		.purple-hero-subtitle {
			font-family: 'Lato', sans-serif;
			font-size: 1.875rem;
			color: #ffffff;
			font-style: italic;
			text-align: center;
		}


/***** NAVIGATION *****/

	#logo-home {
		position: absolute;
		top: -6px;
		left: 50%;
		width: 285px;
		height: 292px;
		margin-left: -143px;
	}

	#header {
		background-color: #515392;
		height: 100px;
		padding-top: 26px;
		padding-bottom: 26px;
	}

	#menu-2 {
		background-color: #ededed;
		height: 75px;
		padding-top: 17px;
		padding-bottom: 17px;
	}

	#menu-2 li {
		width: 33.33%;
	}

	.menu-left {
		float: left;
		text-align: center;
	}

	.menu-right {
		float: right;
		text-align: center;
	}

	#header div.menu-left {
		padding: 0 143px 0 2%;
	}

	#header div.menu-right {
		padding: 0 2% 0 143px;
	}

	#menu-2 div.menu-left .menu {
		padding: 0 0px 0 5%;
	}

	#menu-2 div.menu-right .menu {
		padding: 0 5% 0 0px;
	}


/***** HERO *****/
	
	#hero {
		height: 795px;
		background-color: #515392;
		background: url("images/bg.png");
		padding: 10% 5%;
	}

	.hero-CTA {
		text-align: center;
		padding: 20px 55px 20px 55px;
		margin-top: 75px;
	}

	.purple-hero {
		background-color: #7E6986;
	}


/***** EXTRA ELEMENTS *****/

	div.divider {
		border-bottom: 10px solid #62C4B0;
	}


	.cards {
		display: flex;
		align-items: center;
		margin-bottom: 75px;
	}

	.card {
		width: 385px;
		height: 445px;
		border: 1px solid #979797;
		margin: auto;
	}

	.card img {
		height: 190px;
		margin: 0;
		padding: 0;
	}

	.card div.card-text {
		height: 250px;
		padding: 35px;
		border-top: 1px solid #979797;
	}

	.card a {
		color: #62C4B0;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
	}


/***** FOOTER *****/

	.footer {
		text-align: center;
		padding-bottom: 50px;
	}

	.footer-social {
		font-size: 1.8rem;
		color: #c2c2c2;
		letter-spacing: 8px;
	}

